1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

In [3]:
age = int(input('enter age:'))

if age >= 25:
    print('Renting a car is more affordable')
else:
    print(' Renting a car is very expensive')

Renting a car is more affordable

2. Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

In [4]:
Age = 27

if Age >= 25:
    print ("Renting a car is more affordable")
else:
    if Age < 25 and Age >= 18:
        print('Renting a car is very expensive.')
    else:
        if Age < 18:
            print('You cannot legally rent a car.')

Renting a car is more affordable

3. Loop over the following string to (1) count all the characters in the string 
and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

In [6]:
string1 = "The quick brown fox jumps over the lazy dog"
count = 0
vowels = "AaEeIiOoUu"

for i in string1:
    count += 1
print("The characters in the string is ", count)

print("checking with Len: ", len(string1))

for letters in string1:
    if letters in vowels:
        print(letters,  end = " ")

The characters in the string is  43
checking with Len:  43
e u i o o u o e e a o

4. Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

In [9]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] 
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for x in couture:
    for y in panettone:
        print(x,y)

trousers cerise
trousers auburn
trousers burnt sienna
trousers fuchsia
trousers aqua
trousers maple
trousers gunmetal blue
trousers Dark Sapphire
blouse cerise
blouse auburn
blouse burnt sienna
blouse fuchsia
blouse aqua
blouse maple
blouse gunmetal blue
blouse Dark Sapphire
bandana cerise
bandana auburn
bandana burnt sienna
bandana fuchsia
bandana aqua
bandana maple
bandana gunmetal blue
bandana Dark Sapphire
cumber band cerise
cumber band auburn
cumber band burnt sienna
cumber band fuchsia
cumber band aqua
cumber band maple
cumber band gunmetal blue
cumber band Dark Sapphire
blazer cerise
blazer auburn
blazer burnt sienna
blazer fuchsia
blazer aqua
blazer maple
blazer gunmetal blue
blazer Dark Sapphire
vest cerise
vest auburn
vest burnt sienna
vest fuchsia
vest aqua
vest maple
vest gunmetal blue
vest Dark Sapphire
french beret cerise
french beret auburn
french beret burnt sienna
french beret fuchsia
french beret aqua
french beret maple
french beret gunmetal blue
french beret Dark Sapphire
scarf cerise
scarf auburn
scarf burnt sienna
scarf fuchsia
scarf aqua
scarf maple
scarf gunmetal blue
scarf Dark Sapphire
stole cerise
stole auburn
stole burnt sienna
stole fuchsia
stole aqua
stole maple
stole gunmetal blue
stole Dark Sapphire

5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

In [11]:
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

6. Print the second item in this fruits list. ["apple", "banana", "cherry"]

In [13]:
fruits = ['apple', 'banana', 'cherry']

print(fruits[1])

banana

7. Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]

In [14]:
fruits = ['apple', 'banana', 'cherry']
fruits[0] = 'kiwi'
print(fruits)

['kiwi', 'banana', 'cherry']

8. Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

In [19]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

9. Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

In [20]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'lemon')
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

10. Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

In [21]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

11. Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [22]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-3],fruits[-2])

kiwi melon

12. Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [24]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
for fruit in range(2,5):
    print(fruits[fruit])

cherry
orange
kiwi

13. Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [25]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(len(fruits))

7

14. Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [26]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
fruits.sort(reverse=True)
print(fruits)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

15. Use the DateTime module to get Current Date and Time, and save it to a variable. Then extract just the Full month name form that variable.

In [28]:
import datetime as dt
current_dt = dt.datetime.now()
month = current_dt.strftime("%B")
print(month)

October

16. Write a simple function that takes 2 parameters -- a first name and a day name

    * Set a default value for the day name of Sunday.
    * Have the function print out a greeting -- using the parameters -- that says something like "Hi first-name! Happy     day-name!". Remember to use the variables in the greeting to replace first-name and day-name.
    * Invoke this function with 2 variables.
    * Invoke this function with 1 variable only.

In [29]:
def fisrtfunstion (first_name, day_name = 'Sunday'):
    print(f"Hi {first_name}! Happy {day_name}!")
    
fisrtfunstion ('Marco', 'Monday')
fisrtfunstion("Jose")

Hi Marco! Happy Monday!
Hi Jose! Happy Sunday!

17. Write a block of code to handle one of the most common Python exception errors. Select one of the common errors from the curriculum section on Python Exception handling. Have your code example uses the try,except, else, and finally components

In [34]:


try: 
    print(Marco)
except:
    print("Cardio+Strength")

else:
    print("Full Sail")
finally:
  print("The dinner is ready.")

Cardio+Strength
The dinner is ready.