# **Week 3 HOMEWORK QUESTIONS**
1. What is algorithm?

   A process or set of rules to be followed in calculations or other problems-solving operations, especially by a computer.
2. Variables names may not start with certain characters - name two. 
    * Number
    * (*) asterisk, only underscore characted (_) accepted.
3. What is Semantic error?

    An error which occurs when a program does compile, but does not do what you want. 
4. What is the # 1 rule of coding/debugging?

    Not applying rubber ducking. 
5. List 5 Python reserved word. 
    * try
    * raise
    * form
    * finally
    * except

Open a code cell in your Jupyter Notebook and write the following code:

6. Write a multi-line comment with your name, favorite food, and dream job on 3 different lines

In [1]:
#6
person_name = 'Marco Guanchez'
favorite_food = 'Pasta'
dream_job = 'Spatial Analytics'

print('My name is ' + person_name)
print('My favorite food is ' + favorite_food)
print('My dream job is ' + dream_job)

My name is Marco Guanchez
My favorite food is Pasta
My dream job is Spatial Analytics

7. Assign 5 different data types to 5 different variables. At least one datatype must be a string
    * Print the length of your string   
    * Print the index value of the 4th character in your string

In [2]:
#7 
forecast = " The weather is nice here in Florida"

print("The length of a is ...", len(string))
print('Index value of the 4th character is:', string[3])

The length of a is ... 36
Index value of the 4th character is: e

8. Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"
    * Return a range of characters that slices the above string from the beginning of "ing" up to before "and"
    * Replace "Awesome" with "great" in the string
    * Test and print the savvy string to see it contains "Python"

In [9]:
#8
savvy = "Learning Data Analytics and Python is Awesome"
print(savvy[5:22])
print(savvy.replace('Awesome', 'great'))
print("Python" in savvy)

ing Data Analytic
Learning Data Analytics and Python is great
True

9. Create and assign 3 more variables called name, age and length using the multi-variable naming method
    * Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."
    * Print 'miniBio'
    * Cast and print the age variable to a floa

In [16]:
#9
name, age, length = ("Marco", 45, 24)
minibio = f"Hi my name is {name}, I am {length} and {age} old today"
print(minibio)
print(float(age))

Hi my name is Marco, I am 24 and 45 old today
45.0

# **Complex Data Types:**

10. Create a list of at least 5 elements of mixed data types
    * Replace a part of it with something else
    * Append or insert several more items to the list
    * Find and print the length of the list
    * Slice a sub-section of the 1st list, and save it to a different 2nd list
    * Print the 2nd list
    * Extend your original list with the 2nd list sliced above
    * Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean
    * Sort "simList", and print the list
    * Copy the "simList" list to another 3rd list
    * Add the 2nd and 3rd lists together into a 4th list

In [43]:
#10
mylist = [7, 20.6,"Good Day", True, ['x', 'y', 'z']]
print(mylist)
mylist.append("New")
mylist.insert(2,"Old")
print(mylist)
print(len(mylist))
mylistb = mylist[1:4]
print(mylistb)
mylist.extend(mylistb)
print(mylist)
simlist = [9.5, 1.2, 100.9, 14.3, 89, 7.6]
simlist.sort();
print(simlist)
simlistb = simlist.copy()
print(simlistb)
simlistc = simlist + simlistb
print(simlistc)

[7, 20.6, 'Good Day', True, ['x', 'y', 'z']]
[7, 20.6, 'Old', 'Good Day', True, ['x', 'y', 'z'], 'New']
7
[20.6, 'Old', 'Good Day']
[7, 20.6, 'Old', 'Good Day', True, ['x', 'y', 'z'], 'New', 20.6, 'Old', 'Good Day']
[1.2, 7.6, 9.5, 14.3, 89, 100.9]
[1.2, 7.6, 9.5, 14.3, 89, 100.9]
[1.2, 7.6, 9.5, 14.3, 89, 100.9, 1.2, 7.6, 9.5, 14.3, 89, 100.9]

11. Create a tuple of about 5 elements
    * Multiply your tuple by 3 and save it to a new 2nd tuple
    * Access and print the 12th element from the 2nd tuple
    * Sort the 2nd tuple and print it
    * Copy 4 specific elements from your 2nd tuple to a new 3nd tuple
    * Unpack the 3rd tuple into 4 variables and print these variables
    * Create a 4th tuple with single item 50 and print this tuple
    * Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

In [61]:
tuplea = ("rap", "pop", "jazz", "gospel", "rock")
tupleb = tuplea * 3
print(tupleb[11])
print(sorted(tupleb))
tuplec = tupleb [0:4]
print(tuplec)
(purple, red, white, green)  = tuplec
print(purple)
print(red)
print(white)
print(green)
tupled = 50
print(tupled)
tuplee = tupleb + tuplec 
print(tuplee)

pop
['gospel', 'gospel', 'gospel', 'jazz', 'jazz', 'jazz', 'pop', 'pop', 'pop', 'rap', 'rap', 'rap', 'rock', 'rock', 'rock']
('rap', 'pop', 'jazz', 'gospel')
rap
pop
jazz
gospel
50
('rap', 'pop', 'jazz', 'gospel', 'rock', 'rap', 'pop', 'jazz', 'gospel', 'rock', 'rap', 'pop', 'jazz', 'gospel', 'rock', 'rap', 'pop', 'jazz', 'gospel')

12. Create a set of 3 elements
    * Add a list of fruits to the above set and print the result
    * Add a car element to your set
    * Create a 2nd set with a few off items
    * Save the union of 1st set and 2nd set to 3rd set
    * Pop an element from the 2nd set, and print the remainder of the set
    * Clear the 1st setand the print the result
    * Discard an element, and remove another element from the 3rd set
    * Print the remainder of the 3rd set

In [71]:
seta = {"tennis", "soccer", "skating"}
seta.add("orange")
seta.add("pear")
seta.add("coconut")
print(seta)
seta.add("car")
print(seta)
setb = {"wrench", "screwdriver", "hammer"}
setc = seta.union(setb)
print(setc)
setb.pop()
print(setb)
seta.clear()
print(seta)
setc.discard("pear")
setc.add("lemon")
print(setc)

{'soccer', 'pear', 'tennis', 'coconut', 'orange', 'skating'}
{'car', 'soccer', 'pear', 'tennis', 'coconut', 'orange', 'skating'}
{'car', 'soccer', 'screwdriver', 'pear', 'tennis', 'coconut', 'hammer', 'orange', 'wrench', 'skating'}
{'hammer', 'wrench'}
set()
{'car', 'lemon', 'soccer', 'screwdriver', 'tennis', 'coconut', 'hammer', 'orange', 'wrench', 'skating'}

13. Creat a dictionary with at least 5 values of different data types
     * Print out 1 value
     * Replace any one value in your dictionary with your name
     * Add your favorite color to the dictionary
     * Add a list, tuple or set to the dictionary
     * Print a list of dictionary values
     * Print a list of the dictionary values
     * Copy your 1st dictionary into a 2nd dictionary
     * Pop an item form the 2nd diciitonary, and print the dictionary
     * Remove all the elements from the 2nd dictionary and print the results

In [82]:
my_dictionary = {
    'city': 'Jacksonville',
    'Temperature_F':  '64.5',
    'longitude': "30",
    'lattitude': '81', 
    'is_cold': "False"
}
print("city")
my_dictionary['name'] = "Marco"
my_dictionary['color'] = "blue"
my_dictionary["airplanes"] = {"airbus", "boeing"}
print(my_dictionary.keys())
print(my_dictionary.values())
my_dictionary2 = my_dictionary.copy()
my_dictionary2.pop("city")
print(my_dictionary2)  
my_dictionary2.clear()
print(my_dictionary2)

city
dict_keys(['city', 'Temperature_F', 'longitude', 'lattitude', 'is_cold', 'name', 'color', 'airplanes'])
dict_values(['Jacksonville', '64.5', '30', '81', 'False', 'Marco', 'blue', {'boeing', 'airbus'}])
{'Temperature_F': '64.5', 'longitude': '30', 'lattitude': '81', 'is_cold': 'False', 'name': 'Marco', 'color': 'blue', 'airplanes': {'boeing', 'airbus'}}
{}